
/* *********** HEADER ********* */
.header {}

.header-container {
    display: flex;
/*align-items: center;
outline: solid green;*/
}
.navigation {
display: flex;

}  

.logo {    
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0, 013em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-text {
    color: var(--title-color);      
}
.header-navigation {
  margin-left: 75px;
}
 
.header-menu-list {    
    display: flex;    
    gap: 40px;     
}
.header-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-link {
        color: var(--title-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.contact {   
    margin-left: 330px;   
}

.header-socials {    
    display: flex;    
     gap: 40px;   
}
.header-social {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-social-link{
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-social-link:hover,
.header-social-link:focus {
    color: #404bbf;
}

/* *************** HERO ********* */

.hero-list {}
.hero-item {}

.hero-btn {
        font-family: var(--font-main);
        color: var(--accent-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--text-footer);
        text-align: center;  
        display: flex;
    }

.hero-btn:hover,
.hero-btn:focus {
   color: var(--title-one);
   background: var(--backgr-btn);
}
/* *************** HERO studio ********* */
.hero-img {   
    padding-bottom: 120px;     
}
.hero-img .container {
background-color: var(--bakgr-footer);
   width: 1440px;
    height: 600px;
    flex-shrink: 0;
} 
.container-text {
    display: flex; 
    flex-direction: column;      
    align-items: center; 
    padding-top: 188px;
}

.hero-business { 
        max-width: 496;
        color: var(--title-one);
        text-align: center;
        font-size: 56px;        
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;  
        max-width: 496px;      
}

.hero-img-btn {
    background-color: var(--accent-color);
    color: var(--title-one);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 170px;
    min-height: 56px; 
    margin-top: 48px;    
}

.hero-img-btn:hover,
.hero-img-btn:focus {
     background-color:var(--backgr-btn);
}

/* *************** CONTENT PORTOFOLIO ********* */

.content {}

.content-list {}

.content-item {}
.content-link {}

.subject {
    font-family:var(--font-main);
    color: var(--title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}
.direct {
   color: var(--text-color); 
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* *************** CONTENT Web Studio ********* */
.description {}
.description-list {
    display: flex;
    gap: 24px;
}

.description-item {}

.description-title {
   color: var(--title-color);
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.description-text {
   color: var(--text-color);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}
.doing {}

.doing-title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.doing-list {}
.doing-item {}

.team {
    background-color:var(--text-footer) ;   
}

.team-title {
    color: var(--title-color);
    font-size: 36px;   
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-list {}
.team-item {
    background-color: var(--title-one);
}


/* *************** FOOTER ********* */

.footer .container {
background-color: var(--bakgr-footer);
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
}
.footer {}

.footer-container {
  display: flex;
  /*flex-direction: column;*/
  padding-top: 50px;
  
}

.logo-footer {
    color: var(--text-footer);
    outline: solid rgb(128, 126, 0);
}
.footer-text {
     color:var(--text-footer); 
    /*display: flex; */
    max-width: 264px;
    
    outline: solid rgb(128, 126, 0);
}

  /*outline: solid rgb(128, 126, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 188px;
  */